   {% for row in posts %}
          <style>
            @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
            </style>
            <div class="min-w-screen bg-gray-200 flex items-center justify-center px-5 py-5">
                <div class="w-full mx-auto rounded-lg bg-white shadow p-5 text-gray-800" style="max-width: 700px">
                    <div class="w-full flex mb-4">
                        <div class="flex-grow">
                            <h6 class="font-bold text-md text-gray-600"><a href="{{ url_for('profile', username=row.username) }}">{{ row.username }}</a></h6>
                            <h4 class="font-bold">{{ row.post.title }}</h4>
                        </div>
                        <div class="w-12 text-right">
                              <a href="{{ url_for('like_post', post_id=row.post.id) }}">
                                <i class="mdi mdi-heart text-blue-400 text-3xl"></i>
                              </a>
                            
                        </div>
                    </div>
                    <div class="w-full mb-4">
                        <p class="text-sm">{{ row.post.text }}</p>
                    </div>
                    <div class="w-full">
                      {%for tag in row.tags%}
                      <div
    class="text-xs inline-flex items-center font-bold leading-sm uppercase px-2 py-1 bg-blue-400 rounded-full">
                      <i class="text-xs text-gray-800">#{{tag}}</i>
                    </div>
                    {%endfor%}
                        <p class="text-xs text-gray-500 text-right">{{ row.post.date }}</p>
                    </div>
                </div>
            </div>
    {% else %}
    There aren't any posts yet!
    {% endfor %}