{% extends "_base.html" %}
{% block body %}
  <div class="my-10">
    <div class="bg-white rounded overflow-hidden shadow-lg">
      <div class="text-center p-6  border-b">
        <img class="h-24 w-24 rounded-full mx-auto" src="/static/undraw_male_avatar.svg"/>
        <p class="pt-2 text-lg font-semibold">{{username}}</p>
          <span class="text-base font-semibold text-gray-700 mr-2">
            {% if num_of_posts == 1 %}
            {{num_of_posts}} post
            {% else %}
            {{num_of_posts}} posts
            {% endif %}
          </span>
      </div>
      {% if session.username %}
      <div class="border-b p-8">
        
        {% if session.username == username %}
            <p class="text-gray-800 text-2xl">Users similar to you:</p>
    
              {% for user in similar %}
                <div class="mb-5">
                  <p>
                <a class="font-bold text-md text-gray-600" href="{{ url_for('profile', username=user.similar_user) }}">{{ user.similar_user }}</a>
                 also blogs about:
                  {% for tag in user.tags %}
                  <div
                  class="text-xs inline-flex items-center font-bold leading-sm uppercase px-2 py-1 bg-blue-400 rounded-full">
                                    <i class="text-xs text-gray-800">#{{tag}}</i>
                                  </div>
                  {% endfor %}
                                </div>
                
              {% else %}
                <p>There aren't any users who've blogged about the same tags as you!</p>
              {% endfor %}
        {% else %}
             {%for user in similar%}
                {% if user.similar_user == session.username %}
                  <p class="px-1 text-lg">This user also posted about:  </p>
                  {% for tag in user.tags %}
                  <div
                  class="text-xs inline-flex items-center font-bold leading-sm uppercase px-2 py-1 bg-blue-400 rounded-full">
                                    <i class="text-xs text-gray-800">#{{tag}}</i>
                                  </div>
                  {% endfor %}
                {% endif %}
             {%endfor%}
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>

  {% if session.username == username %}
  <p class="w-full text-base sm:text-lg md:text-xl text-center lg:text-2xl xl:text-5xl">
    Your recent posts: <br> 
</p>
{% else %}
<p class="w-full text-base sm:text-lg md:text-xl text-center lg:text-2xl xl:text-5xl">
  {{ username }}'s recent posts: <br> 
</p>
{% endif %}
{% include "post_list.html" %}

{% endblock %}