{% extends "_base.html" %}
{% block body %}
<div class="text-dig">
  <p class="w-full text-base sm:text-lg md:text-xl text-center lg:text-2xl xl:text-5xl">
          Join the millions <br> people to share  <br> your thougths
  </p>
<div class=" object-fill text-center mb-4 w-3/5">
  <img  class="object-cover h-48 w-full" src="https://cdn.dribbble.com/users/79571/screenshots/5516891/workflow_4x.png">
</div>
</div>
  <div class="flex items-center justify-center">
    <div class="w-full max-w-md">
      <form class="bg-white shadow-lg rounded px-12 pt-6 pb-8 mb-4 m-5" action="{{ url_for('register') }}" method="post">
        <div class="text-gray-800 text-2xl flex justify-center border-b-2 py-2 mb-4">
          Register
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-normal mb-2" for="username">
            Username
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="username"
            type="texs"
            required
            autofocus
            placeholder="Username"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-normal mb-2" for="password">
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            v-model="form.password"
            type="password"
            placeholder="Password"
            name="password"
            required
            autocomplete="current-password"
          />
        </div>
        <div class="flex items-center justify-between">
          <button class="px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700" type="submit">Register</button>
          <a class="inline-block align-baseline font-normal text-sm text-blue-500 hover:text-blue-800" href="{{ url_for('login') }}">
            Already have an account?
          </a>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2020 ShareIt.
      </p>
    </div>
  </div>
{% endblock %}